body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  color: #444;
}

.header {
  display: flex;
  column-gap: 40px;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
  flex: 1;
  font-size: 16px;
}

.feature {
  border-radius: 20px;
  background-color: rgba(94, 9, 102, 0.13);
  background-color: #f5f5f5;
  flex: 1;
  padding: 0 20px;
  height: 150px;
  margin-top: 50px;
}

.title {
  font-size: 20px;
  font-weight: 500;
}

.feature-text {
  font-size: 14px;
  font-weight: 400;
}

.main-content {
  margin: 0 auto;
  text-align: center;
  width: 1000px;
  flex: 1.5;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 2;
}
.learn-more-btn {
  border: none;
  background-color: #dbdbdb;
  padding: 11px 70px;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 90px;
}

.learn-more-btn:hover {
  background-color: #ababab;
}
.learn-more-btn:active {
  transform: scale(0.97);
}
